body {
    
  font-size: 18px;
    background-image: url('images/af-plane.jpg');
    background-repeat: no-repeat;
    width: 100%;
     
}

h1{
  font-size: 48px;
}

p {
  font-size: 24px;
  font-style: italic;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0em;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment (formats)*/
  display: inline-block;
  width: 90px;
  text-align: right;
}

.black{

    color: black;
    font-size: larger; 
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: grey;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 90px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align: middle;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


  .flex-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  .box{
    flex: initial;
    padding: 10px;
    text-align: center;
    
  }

  .push-left{
    margin-right: auto;
    text-align: center;
  }

 
  
  .modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0; top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }

  .modal-content{
    background-color: seashell;
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 0 rgba(0,0,0,0.2), 0 7px 20px rgba(0,0,0,0.2);
  }

  .close_logo{
    color:#ccc;
    float: right;
    font-size: 30px;

  }

  .close_logo:hover,.close_btn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }